$main-color: #003366; // Cool dark blue
$secondary-color: #f8f8f8; // Off-white

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

#results {
    border: 10px solid $main-color;
    padding: 10px;
}

strong {
    display: block;
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem; 
    color: $main-color;
}